<form action="/items/create" method="post">
<h1>ITEMS FOR SALE!</h1>
<label>NAME:
    <input type="text" name="name"/>
</label>

<label>Price:
    <input type="text" price="price"/>
</label>

<label>Size:
    <input type="text" sizeing="sizeing"/>
</label>

<button>Create</button>

</form>

