<h2>Add items to your cart</h2>

<form action="/items/create" method="post">
  <label> Name:
    <input type="text" name="name" />
  </label>

  <label> Price:
    <input type="text" price="price" />
  </label>

  <label> Sizeing:
    <input type="text" sizeing="sizeing" />
  </label>


  <button type="submit"> List item </button>
</form>